#canvas-style {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#canvas {
    border-radius: 10px;
    background-image: url(./docs/assets/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.center-logo {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: row;
    font-weight: 30px;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 15px;
}

#start-btn {
    background-color: teal;
    color:whitesmoke;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

#reset-btn {
    background-color: indianred;
    color: whitesmoke;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}


body {
    background-color: rgb(22, 57, 66);
}


